@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    cursor: url('~/public/images/rila.cur'), auto;
  }

	body {
		overflow-x: hidden;
	}

	.cloud {
		animation: fadeIn 1s;
	}

	.header-container {
		width: 100%;
		height: 100%;

		> div {
			position: unset !important;
		}

		.header-image {
			object-fit: contain;
			width: 100% !important;
			position: relative !important;
			height: unset !important;
		}
	}

	@keyframes fadeIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
}
