@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	body {
		overflow-x: hidden;
	}

	.header-container {
		width: 100%;
		height: 100%;

		> div {
			position: unset !important;
		}

		.header-image {
			object-fit: contain;
			width: 100% !important;
			position: relative !important;
			height: unset !important;
		}
	}
}
